.combo-box-price {
    float: right;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.combo-box-price select,
.combo-box-product select,
.combo-box-question select{
    background-color: aliceblue;
    color: black;
    width: 100%;
    padding: 11px 25px;
    padding-left: 11px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.combo-box-product,
.combo-box-question {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 10px 0;
    margin-top: 0;
}

.combo-box-product select,
.combo-box-question select {
    border-radius: 15px;
}

.combo-box-product option,
.combo-box-question option {
    font-size: 16px;
}

.combobox-option {
    font-size: 16px;
    min-height: 50px;
    padding: 50px 0;
    border-radius: 5px;
}