.switch-icon-prev,
.switch-icon-next {
    font-size: 30px;
    display: block;
    color: black;
    background-color: aliceblue;
    height: 40px;
    width: 42px;
    border-radius: 100%;
    border: none;
    margin: -15px 10px;
    padding: 1px 0;
    padding-bottom: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.switch-icon-prev {
    padding-right: 2px;
    left: 10px;
}

.switch-icon-next {
    padding-left: 2px;
    right: 10px;
}

.bird-carousel-item,
.product-carousel-item {
    display: block;
    height: 290px;
    margin: 0 3%;
    text-decoration: none;
}

.product-carousel-item {
    height: 350px;
}

.bird-carousel-item img,
.product-carousel-item img {
    width: 100%;
    height: 65%;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.bird-carousel-item h4,
.product-carousel-item h4 {
    position: relative;
    text-align: center;
    height: 12%;
    color: #0366D6;
    margin: 20px auto;
    font-size: 17px;
    font-weight: 550;
}

.product-carousel-item p {
    height: 15%;
    text-align: center;
    color: red;
    font-size: 17px;
    font-weight: 550;
}
